<% @ideas.each do |idea|%>
<div class= "panel panel-default">
    <div class= "panel body">
        <blockquote>
            <p><%=idea.description %></p>
            <small>by<%= idea.author %></small>

        </blockquote>
    </div>
</div>
<%end%>

<% @ideas.each do |idea| %>
<h3><%= idea.description %></h3>
<h4><%= idea.author %></h4>
<%end%>
